# Local deployment
resources/_gen/*
public/*
hugo_stats.json
.hugo_build.lock
go.sum

# obsidian
/.obsidian
workspace.json
app.json
appearance.json
core-plugins.json

# models
*.glb
*.gltf
*.usdz

# Exceptions for published models

!assets/models/phillips_bdx_67b_x1_h4000_decimated3.glb
!assets/models/testraeder_m.glb
!assets/models/testraeder_um.glb
!assets/models/scan.glb