{{/* layouts/shortcodes/project-timeline.html */}}
{{ $projects := where site.RegularPages "Type" "project" }}

<!-- The gantt diagram is generated as a .svg making responsive design impossible, 
since the view port width is sampled upon loading the page to set the maximum width of the diagram.-->
<div class="mermaid" style="width: min(90vw, 802px)" > 
gantt
    dateFormat YYYY-MM-DD
    axisFormat %Y-%m-%d
    {{ range $projects }}
        {{- if and (isset .Params "startdate") (isset .Params "enddate") -}}
            {{- $title := .Title | replaceRE "[^a-zA-Z0-9]" "_" -}}
            {{- printf "    %s : %s, %s\n" $title .Params.startDate .Params.endDate -}}
        {{- end -}}
    {{ end }}
</div>



<script>
document.addEventListener('DOMContentLoaded', function() {
    if (window.mermaid) {
        mermaid.initialize({
            securityLevel: 'loose',
            theme: 'default',
            gantt: {
                barHeight: 40,
                barGap: 8,
                topPadding: 75,
                sidePadding: 75
            }
        });
    }
});
</script>
